.wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid silver;

    h2{
        color: var(--purple-theme-main-color);

        font-weight: 500;
        font-size: 6rem;
        font-weight: 36px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--purple-theme-main-color);
        flex-grow: 1;
    }

    span{
        svg{
            color: var(--purple-theme-main-color);
        }
    }

}