.resume {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 20px;

  h1, p {
    padding-top: 50px;
    color: white;
    margin-bottom: 20px;
  }

  a {
    color: gold;
  }

  .resumePdf {
    width: 100%;
    height: calc(100vh - 75px);
    border: none;
  }
}