.about{
    &_content{
        display: flex;
        gap: 70px;
        width: 100%;
        &_info{
            padding: 20px;
            width: 50%;
            h3{
                display: flex;
                font-size: 3rem;
                color: var(--purple-theme-main-color);
            }
    
            p{
                color: white;
                line-height: 1.65;
                font-size: 1.8rem;
                padding-bottom: 20px;
                margin-right: 15px;
                padding-bottom: 1px;
            }
        }
    
        &_photo{
            width: 50%;
            display: inline;
            position: relative;
            padding: 10px 10px 10px 10px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .about_content{
        flex-direction: column;

        &_info, &_photo {
            width: 100%;
        }

        &_photo{
            margin: 10px 0px;
        }
    }
}
