.notes {
    &_content {
        padding: 20px;
   
        &_filter {
            display: inline-block;
            margin: 0 auto;
            border-radius: 25px;
            border: 1px solid var(--purple-theme-main-color);

            li {
                font-size: 16px;
                display: inline-block;
                cursor: pointer;
                position: relative;
                color: var(--purple-theme-main-color);
                padding: 10px 20px;
                text-transform: uppercase;
                transition: all 0.5 ease;
                overflow: hidden;

                &.active {
                    background: var(--purple-theme-main-color);
                    color: white;
                    font-weight: 600;
                    border-radius: 25px;
                }
            }
        }

        &_text{
            color: var(--purple-theme-main-color);
            font-weight: 300;
            font-size: 15px;
            text-align: center;
            display: block;
            padding: 0 30px 0 30px;
        }

        &_cards {
            width: 60%;
            margin: auto;
            margin-top: 10px;
            &_item {
                border: 0.2rem solid var(--purple-theme-main-color);
                height: 10rem;
                border-radius: 200px;
                cursor: pointer;
                position: relative;
                margin-bottom: 10px;
                &:hover .overlay {
                    opacity: 0.8;
                }
            }

            .overlay {
                border-radius: 200px;
                cursor: pointer;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                height: 100%;
                opacity: 0;
                transition: 0.5s ease;
                background-color: black;

                div {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    button {
                        cursor: pointer;
                        padding: 10px 70px;
                        font-size: 2rem;
                        background: transparent;
                        color: goldenrod;
                        border: 1.5px solid goldenrod;
                        border-radius: 4px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 3rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.notes_title {
    color: var(--purple-theme-main-color);
    width: 100%;
    margin: auto;
    line-height: 4rem;
    font-size: 4rem;
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 3rem;
    opacity: 100%;
    position: absolute;
    
}

.subject_background {
    object-fit: contain;
}

@media only screen and (max-width: 1000px) {
    .notes_content .overlay div button {
        padding: 15px 35px;
        font-size: 1.5rem;
    }
}
